<div class="board">
  <svg width="100%" height="100%">
    <svg app-contestant
         *ngFor="let contestant of contestants; let i = index"
         [contestant]="contestant"
         [x]="getNumericWidthForPercentage(i * 12)"
         [y]="getNumericHeightForPercentage(0)"
         [width]="getNumericHeightForPercentage(12)"
         width="100%"
    >
    </svg>

    <svg app-link
         [pointStartLeftX]="getNumericWidthForPercentage(6)"
         [pointStartLeftY]="0"
         [pointStartRightX]="getNumericWidthForPercentage(12+6)"
         [pointStartRightY]="0"
         [pointEndX]="getNumericWidthForPercentage(6+6)"
         [pointEndY]="getNumericHeightForPercentage(15)"
    ></svg>

    <svg app-contestant
         *ngIf="winners.length > 0"
         class="'winner-0'"
         [contestant]="winners[0]"
         [x]="getNumericWidthForPercentage(6)"
         [y]="getNumericHeightForPercentage(15)"
         [width]="getNumericHeightForPercentage(12)"
    >
    </svg>

    <svg app-contestant
         *ngIf="winners.length > 1"
         class="'winner-1'"
         [contestant]="winners[1]"
         [x]="getNumericWidthForPercentage(12 + 6)"
         [y]="getNumericHeightForPercentage(2 * 15)"
         [width]="getNumericHeightForPercentage(12)"
    >
    </svg>

    <svg app-contestant
         *ngIf="winners.length > 2"
         class="'winner-2'"
         [contestant]="winners[2]"
         [x]="getNumericWidthForPercentage(2*12 + 6)"
         [y]="getNumericHeightForPercentage(3 * 15)"
         [width]="getNumericHeightForPercentage(12)"
    >
    </svg>

    <svg app-contestant
         *ngIf="winners.length > 3"
         class="'winner-3'"
         [contestant]="winners[3]"
         [x]="getNumericWidthForPercentage(4*12 + 6)"
         [y]="getNumericHeightForPercentage(3 * 15)"
         [width]="getNumericHeightForPercentage(12)"
    >
    </svg>

    <svg app-contestant
         *ngIf="winners.length > 4"
         class="'winner-4'"
         [contestant]="winners[4]"
         [x]="getNumericWidthForPercentage(3*12 + 6)"
         [y]="getNumericHeightForPercentage(4 * 15)"
         [width]="getNumericHeightForPercentage(12)"
    >
    </svg>

    <svg app-contestant
         *ngIf="winners.length > 5"
         class="'winner-5'"
         [contestant]="winners[5]"
         [x]="getNumericWidthForPercentage(6*12 + 6)"
         [y]="getNumericHeightForPercentage(4 * 15)"
         [width]="getNumericHeightForPercentage(12)"
    >
    </svg>

    <svg app-contestant
         *ngIf="winners.length > 6"
         class="'winner-6'"
         [contestant]="winners[6]"
         [x]="getNumericWidthForPercentage(5*12)"
         [y]="getNumericHeightForPercentage(5 * 15)"
         [width]="getNumericHeightForPercentage(12)"
    >
    </svg>
  </svg>

</div>
